/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

footer {
    margin-top: 60px;
    padding: 60px 0px 30px 0px;
    background-color: #2a2a2a;
  }
  
  footer .logo {
    margin-bottom: 20px;
  }
  
  footer ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  footer ul li a {
    font-size: 14px;
    color: #fff;
    transition: all .3s;
  }
  
  footer ul li a:hover {
    color: #aaa;
  }
  
  footer h4 {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 40px;
  }
  
  footer .under-footer {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.3);
  }
  
  footer .under-footer ul {
    margin-top: 20px;
  }
  
  footer .under-footer ul li {
    display: inline-block;
    margin: 0px 10px;
  }
  
  footer .under-footer ul li a {
    font-size: 22px;
  }
  
  footer .under-footer p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
  }
  
  footer .under-footer a {
    color: #cff;
  }
  
  footer .under-footer a:hover {
    color: #c66;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (min-width: 992px){
  .col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  }}
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  }
  @media (min-width: 576px){
    .container, .container-sm {
      max-width: 540px;
    }}
  @media (min-width: 768px){
    .container, .container-md, .container-sm {
      max-width: 720px;
    }}
  @media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
    }}
  @media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
    }}

a {
    text-decoration: none !important;
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }