.main-banner {
    border-bottom: 3px dotted #eee;
    /* padding-top: 160px; */
    padding-bottom: 30px;
  }
  .container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
  }

  .main-banner .left-content .inner-content span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-bottom: 30px;
  }
  span {
    margin: 0;
      margin-bottom: 0px;
    padding: 0;
    border: 0;
    outline: 0;
  }
  .col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (min-width: 992px){
.col-lg-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
  }
.main-banner .left-content .inner-content {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-banner .left-content .inner-content h4 {
    color: #fff;
    margin-top: -10px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main-banner .left-content .inner-content span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-bottom: 30px;
  }
  .main-banner .left-content .thumb img {
    width: 100%;
    overflow: hidden;
    height: 545px;
    object-fit: cover;
  }
  .main-banner .right-content .right-first-image {
    margin-bottom: 28.5px;
  }
  .main-banner .right-content .right-first-image .thumb {
    position: relative;
    text-align: center;
  }
  .main-banner .right-content .right-first-image .thumb .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .main-banner .right-content .right-first-image .thumb .hover-content {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(42,42,42,.97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .main-banner .right-content .right-first-image .thumb .hover-content .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .main-banner .right-content .right-first-image .thumb .hover-content {
    text-align: center;
    visibility: hidden;
  }
  .main-banner .right-content .right-first-image .thumb img {
    width: 100%;
    overflow: hidden;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }





  
    /* @media (min-width: 1200px)

.css-1oqqzyl-MuiContainer-root {

    max-width: 1200px;

}

    @media (min-width: 600px)

.css-1oqqzyl-MuiContainer-root {

    padding-left: 24px;
    padding-right: 24px;

}
.css-1oqqzyl-MuiContainer-root {

    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;

} */